<flynt-component load:on="idle" client:media="(max-width: 1023px)" name="NavigationBurger" class="bg-blue bg-[length:300%] bg-no-repeat fixed top-0 left-0 w-screen z-50 flex flex-row justify-between" style="background-image: url('{{ backgroundImage }}');">
  <nav aria-label="{{ labels.ariaLabel|e }}" class="h-full w-full z-50">
    <div class="w-full h-full px-sm flex flex-row justify-between gap-sm align-middle items-center">
      {% include 'Partials/_logo.twig' with { 'logo': logo, 'site': site } only %}
      <div class="flex flex-row gap-[10px] align-middle items-center">
        {% include 'Partials/_cta.twig' with { 'ctaLink': ctaLink } only %}
        {% if menu %}
          {% include 'Partials/_hamburger.twig' with { 'labels': labels } only %}
        {% endif %}
      </div>
    </div>
    {% if menu %}
      <ul data-ref="menu" class="menu bg-[length:300%] bg-repeat" style="background-image: url('{{ backgroundImage }}');">
        {% for item in menu.items %}
          {# regular menu item #}
          {% if not item.children %}
            <li class="item {{- item.current ? ' current-menu-item' }}">
              <a class="link text-superSubtitle" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>
                {{ item.title }}
              </a>
            </li>
          {% endif %}
          {# menu with submenu item #}
          {% if item.children %}
            <li class="item open-submenu {{- item.current ? ' current-menu-item' }}" >
              <a class="link text-superSubtitle" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>
                {{ item.title }}
              </a>
              <ul class="submenu">
                {% for subitem in item.children %}
                  <li class="item {{- subitem.current ? ' current-menu-item' }}">
                    <a class="link text-superSubtitle" href="{{ subitem.link }}">{{ subitem.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  </nav>
</flynt-component>
