<flynt-component load:on="visible" name="BlockReleaseHeader" class="">
  <div class="flex flex-col lg:flex-row gap-sm">
    {% if post.thumbnail %}
      <div class="featuredImage w-full lg:w-[50vw] grow">
        <img class="figure-image lazyload object-cover h-auto lg:h-[calc(100vh_-_120px)]"
          src="{{ post.thumbnail.src }}"
          data-srcset="{{function('wp_get_attachment_image_srcset', post.thumbnail.id)}}"
          data-sizes="auto">
      </div>
    {% endif %}
    <div class="h-auto lg:h-[calc(100vh_-_120px)] w-full lg:w-[25vw] grow flex flex-col justify-start lg:gap-xxl">
      <h1>{{ post.title }}</h1>
      <div class="w-full flex flex-col gap-lg">
        <div>{{ post.releaseInfo|wpautop }}</div>
      </div>
    </div>
    <div class="w-full lg:w-[16.7vw] grow flex flex-col justify-start lg:items-end h1">
    {% if post.buyLink %}
      <a class="inline-block no-underline hover:underline underline-offset-3 text-currentColor transition-all duration-200" href="{{ buyLink.url|e }}" {% if buyLink.target %} target="{{ buyLink.target }}" rel="noreferrer noopener"{% endif %} alt="{{ buyLink.alt|e }}">
        {{ post.buyLink.title|e }}
      </a>
    {% endif %}
    </div>
  </div>
</flynt-component>
