<ul class="menu list-none flex align-middle justify-between w-full">
  {% for item in items %}
    {# regular menu item #}
    {% if not item.children %}
      <li class="item {{- item.current ? ' current-menu-item underline' }}">
        <a class="link lowercase hover:underline text-currentColor font-extrabold inline-block transition-transform duration-200 ease-in-out" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>
          {{ item.title }}
        </a>
      </li>
    {% endif %}
    {# menu with submenu item #}
    {% if item.children %}
      <li class="item open-submenu {{- item.current ? ' current-menu-item underline' }}" >
        <a class="link lowercase no-underline hover:underline  text-currentColor font-extrabold inline-block transition-transform duration-200 ease-in-out" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>
          {{ item.title }}
        </a>
        <ul class="menu submenu">
          {% for subitem in item.children %}
            <li class="item {{- item.current ? ' current-menu-item underline' }}">
              <a class="link lowercase no-underline hover:underline  text-currentColor font-normal inline-block transition-transform duration-200 ease-in-out" href="{{ subitem.link }}">{{ subitem.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  {% endfor %}
</ul>
