{% if items|length > 0 %}
  <flynt-component load:on="visible" name="BlockArtistSelector" class="">
    <div class="container">
      {% if preContentHtml or preContentTitle %}
      <div class="preContent">
        <div class="preContentTitle">
          <h1>{{ preContentTitle }}</h3>
        </div>
      </div>
      {% endif %}
      <ul class="grid grid--columns{{ options.columns }}">
        {% for item in items %}
          <li class="grid-item {{ item.post_type }}">
            <div class="content">
              <a href="{{ item.link }}" class="content-link" title="{{ item.title }}">
                <img class="content-image lazyload"
                  src="{{ item.thumbnail.src }}"
                  data-srcset="{{function('wp_get_attachment_image_srcset', item.thumbnail.id)}}"
                  data-sizes="auto">
                <div class="content-inner">
                  <div class="content-inner--title p">{{ item.title }}</div>
                </div>
              </a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
